.custom-sidenav-container {
  padding: 2rem 1rem ;
  gap: 1.5rem;
}

.sidenav-title{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
  font-weight : 500;
}

.sidenav-list-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.item-list-active {
  background-color: #3f51b5;
}

mat-nav-list .nav-list-item {
  border-radius: 0.5rem;
}

.item-list-active .nav-icon , .item-list-active .nav-span-list {
  color: white;
}
