<mat-expansion-panel class="search-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>search</mat-icon>
      <span>Buscador Avanzado</span>
    </mat-panel-title>
    <mat-panel-description> Filtra usuarios por nombre, rol, estado y fecha </mat-panel-description>
  </mat-expansion-panel-header>

  <form [formGroup]="formGroup" class="search-form">
    <div class="form-row">
      <div class="form-field">
        <app-input
          [id]="'username'"
          [control]="formGroup.controls.username"
          [label]="'Nombre de Usuario'"
          [placeholder]="'Buscar por nombre...'"
          variant="outline"
        />
      </div>

      <div class="form-field">
        <app-select
          [id]="'roleName'"
          [control]="formGroup.controls.roleName"
          [label]="'Rol'"
          [options]="roleOptions()"
          variant="outline"
        />
      </div>

      <div class="form-field">
        <app-select
          [id]="'state'"
          [control]="formGroup.controls.state"
          [label]="'Estado'"
          [options]="stateOptions"
          variant="outline"
        />
      </div>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Ingresar rango de fechas</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            [formControl]="formGroup.controls.startDate"
            matStartDate
            placeholder="Start date"
          />
          <input [formControl]="formGroup.controls.endDate" matEndDate placeholder="End date" />
        </mat-date-range-input>

        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <div class="form-field form-actions">
        <button
          mat-raised-button
          color="accent"
          type="button"
          (click)="onClearFilters()"
          class="clear-button"
        >
          <mat-icon>clear_all</mat-icon>
          Limpiar Filtros
        </button>
      </div>
    </div>
  </form>
</mat-expansion-panel>
