<mat-card class="mat-content">
  <mat-card-header>
    <mat-card-title>Usuarios registrados en los ultimos 12 meses</mat-card-title>
  </mat-card-header>
  <mat-card-content class="registrations-chart-content">
    @if(loading()){
    <div class="spinner"><mat-spinner diameter="36"></mat-spinner></div>
    } @else {
    <div class="registration-canva">
      <canvas baseChart [data]="chartData" [options]="chartOptions" [type]="chartType"></canvas>
    </div>

    }
  </mat-card-content>
</mat-card>
