.form-group-container{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.form-input-container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  gap: 0.8rem;
}

.submit-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75rem;
}

.button-content {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  gap: 1rem;
}

.p-button-cta{
  font-size: 1rem;
  text-align: center;
}

.span-button-cta {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
