.comment-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.mat-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: auto;
  height: 100%;
}

.comment-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.comment-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
