<header>
  <div class="menuContainer">
    <a href="#" class="logo-link">
      <img class="logo" src="images/Logo.png" alt="Ciclo Estrella Logo" height="295" width="1054">
    </a>
    <nav>
      <ul class="menu">
        <li><a (click)="scrollTo('about')" >Acerca de</a></li>
        <li><a (click)="scrollTo('features')">Características</a></li>
        <li><a (click)="scrollTo('testimonials')" >Testimonios</a></li>
        <li><a [routerLink]="'/login'" class="cta-button">¡Comienza ahora!</a></li>
      </ul>
    </nav>
  </div>
</header>
