.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper mat-form-field + mat-form-field {
  margin-left: 8px;
}
.input-container{
  display: flex;
}
.input-content{
  margin: 0;
  padding-right: 40px;
}


.password-toggle-btn{
  margin-right: 0.75rem;
}
