<header>
  <div class="menuContainer">
    <a routerLink="/home" class="logo-link">
      <img class="logo-1" src="/images/Logo.png" alt="Logo de la página">
    </a>

    <nav class="menu">
      <ul class="menu-items largo">
        <li><button routerLink="/private/profesores">Profesores</button></li>
        <li><button routerLink="/private/tramites">Trámites</button></li>
        <li><button routerLink="/private/biblioteca">Biblioteca</button></li>
      </ul>
      <ul class="menu-items corto">
        <li><button class="perfil" routerLink="/private/student">Perfil</button></li>
        <li><button class="cerrar" routerLink="/login">Cerrar sesión</button></li>
      </ul>
    </nav>
  </div>
</header>


