<div class="tramites-modal-container">

  <div class="search-wrapper">
    <mat-form-field appearance="fill" class="search-form-field-large">
      <input
        matInput
        type="text"
        placeholder="Ingrese el trámite que desea realizar [barra de búsqueda]"
        [(ngModel)]="searchTerm"
        (input)="filterTramites()"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <h2 class="section-title">Trámites Existentes</h2>

  <div class="tramites-grid-horizontal">
    <mat-card
      class="tramite-card"
      *ngFor="let t of tramitesExistentesFiltrados"
      (click)="viewFormalityProfile(t)"
    >

      <!-- Cambiar los botones de agregar -->
      <button
        mat-icon-button
        class="add-btn-floating"
        (click)="addTramite($event, t)"
      >
        <mat-icon>add</mat-icon>
      </button>


      <mat-card-content class="card-content-wrapper">
        <h3 class="tramite-title">{{ t.title }}</h3> <p class="tramite-desc">{{ t.description }}</p> <div class="dates-wrapper">
        <div class="date-item">
          <span class="date-label">Fecha Inicio</span>
          <span class="date-value">{{ t.startDate | date : 'dd/MM/yyyy' }}</span> </div>
        <div class="date-item">
          <span class="date-label">Fecha Fin</span>
          <span class="date-value">{{ t.endDate | date : 'dd/MM/yyyy' }}</span> </div>
      </div>
      </mat-card-content>
    </mat-card>
  </div>

  <h2 class="section-title">Trámites Disponibles Actualmente</h2>

  <div class="tramites-grid-horizontal">
    <mat-card
      class="tramite-card"
      *ngFor="let t of tramitesDisponiblesFiltrados"
      (click)="viewFormalityProfile(t)"
    >
      <!-- Cambiar los botones de agregar -->
      <button
        mat-icon-button
        class="add-btn-floating"
        (click)="addTramite($event, t)"
      >
        <mat-icon>add</mat-icon>
      </button>

      <mat-card-content class="card-content-wrapper">
        <h3 class="tramite-title">{{ t.title }}</h3> <p class="tramite-desc">{{ t.description }}</p> <div class="dates-wrapper">
        <div class="date-item">
          <span class="date-label">Fecha Inicio</span>
          <span class="date-value">{{ t.startDate | date : 'dd/MM/yyyy' }}</span> </div>
        <div class="date-item">
          <span class="date-label">Fecha Fin</span>
          <span class="date-value">{{ t.endDate | date : 'dd/MM/yyyy' }}</span> </div>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
