
/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  text-align: left;
  background-color: var(--gray-color);
}

.hero-content {
  max-width: 50%;
  font-family: inherit;
}

.hero-content h1 {
  font-size: 2.5rem;
  color: var(--secondary-color);
}

.hero-content p {
  margin-top: 10px;
  font-size: 1.2rem;
}

.hero-content button {
  margin-top: 20px;
  background-color: var(--secondary-color);
  border: none;
  color: var(--dark-color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: inherit;
}

.hero-content button:hover {
  background-color: var(--light-color);
}
