
.features {
  padding: 40px 20px;
  background-color: var(--gray-color);
  text-align: center;
}

.features h2 {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.feature-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: var(--light-color);
  color: var(--primary-color);
  border-radius: 10px;
  padding: 0;
  width: 30%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.card h3,
.card p {
  padding: 15px;
}
